@import "./normalize.css";

// - Global Styles
.show {
  display: block !important;
}

.container {
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;

  header {
    text-align: center;

    nav {
      display: flex;
      flex-direction: row;
      // border: 1px solid red;
      align-items: center;
      justify-content: space-between;
      display: fixed;
      width: 100%;
      z-index: 1;
      margin-top: 1%;

      .nav-dropdown {
        position: relative;
        display: inline-block;
        flex-direction: column;
        width: 32%;
        align-content: left;

        #hamburgerMenu {
          width: 3rem;
          cursor: pointer;
        }

        #navDropDown {
          display: none;
          position: absolute;
          background: rgb(192, 192, 192);
          border: 1px solid black;
          padding: 0.5rem;
          left: 29.5%;

          a {
            color: rgb(68, 155, 68);
            text-decoration: none;
            display: block;
            // background: grey;
            // width: 100%;
            // max-width: 40%;
            text-align: center;
            padding: 1%;
            margin: 3% 5%;
            &:hover {
              color: yellow;
            }
          }
        }
      }
      .nav-center {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32%;

        #nav-logo {
          // border: 1px solid red;
          width: 3rem;
          margin-right: 3%;
          transform: rotateZ(12deg);
        }
        h1 {
          // border: 1px solid red;
          // width: 80%;
          font-family: "Permanent Marker", cursive;
        }
      }
      .login {
        width: 32%;
        // display: flex;
        // flex-direction: column;
        // border: 1px solid red;
        margin-top: 2%;
        form {
          .usrname {
            label {
            }
            input {
              // border: 1px solid red;
              width: 75%;
              margin-bottom: 2.35%;
            }
          }
          label {
          }
          input {
            width: 75%;
          }
          .loginbtn {
            display: flex;
            justify-content: center;
            margin-top: 0.5rem;

            #login {
              margin-right: 1rem;
            }
            button {
              border: 1.15px solid black;
              background: rgb(255, 209, 122);
              &:hover {
              }
              &:active {
              }
              &:focus {
              }
            }
          }
        }
        button {
        }
      }
    }
  }
  main {
    margin-top: 3%;
    h3 {
      margin-top: 5%;
      text-align: center;
    }
    p {
      text-align: center;
    }
    .sect {
      // border: 2px dashed darkblue;
      display: flex;
      flex-direction: column;
    }
    .first-sect {
      background-image: url(./img/pills-bud.jpg);
      background-repeat: none;
      background-size: 100%;
      border-radius: 2.5%;
      padding-bottom: 8%;
      img {
        height: 100%;
        z-index: -1;
      }
      h3 {
        font-size: 2rem;
        color: rgb(6, 156, 6);
      }
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        .name {
          label {
            font-size: 1.125rem;
            color: rgb(68, 158, 68);
            font-weight: bold;
          }
          input::placeholder {
            color: rgb(216, 140, 0);
          }
          display: flex;
          .first-name {
            text-align: center;

            input {
              border: 1px solid black;
            }
          }
          .last-name {
            text-align: center;
            margin-left: 1%;
            label {
              font-size: 1.125rem;
              color: rgb(66, 133, 66);
            }
            input {
              border: 1px solid black;
            }
          }
        }
        .email {
          margin-top: 2.5%;
          label {
            font-size: 1.125rem;
            font-weight: bold;
            color: rgb(68, 158, 68);
          }
          input {
            border: 1px solid black;
          }
          input::placeholder {
            color: rgb(216, 140, 0);
          }
        }
        button {
          margin-top: 5%;
          font-size: 1.5rem;
          color: rgb(7, 170, 7);
          // background: #be9885;
          border-radius: 15%;
        }
      }
    }
    .second-sect {
      margin-top: 3.765%;
      margin-bottom: 3%;
      border: 2.135px groove red;
      border-radius: 1% 15% 1% 15%;

      .features {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        #featureTitle {
          list-style-type: none;
        }
        .ft1 {
          // margin-right: 10%;
          ul {
            li {
              color: green;
              padding: 5% 0px;
            }
          }
        }
        .ft2 {
          margin-left: 10%;
          ul {
            li {
              color: green;
            }
          }
        }
      }
    }
    .third-sect {
      background: rgb(117, 117, 195);
      margin-top: 3.765%;
      margin: auto;
      h2 {
        text-align: center;
        margin-bottom: 0px;
      }
      p {
        padding: 1% 1.5%;
      }
    }
    .fourth-sect {
      margin-top: 3.765%;
      width: 80%;
      h3 {
      }
      .tm {
        display: flex;
        img {
        }
        .tm-ac {
          display: flex;
          flex-direction: column;
          .tm-a {
          }
          .tm-c {
          }
        }
      }
    }
  }
  footer {
    text-align: center;
    color: grey;
    margin-top: 10%;
    span {
    }
  }
}
