@import "./normalize.css";

// - Global Styles
.show {
  display: block !important;
}

.container {
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;

  header {
    text-align: center;

    nav {
      display: flex;
      flex-direction: row;
      border: 1px solid red;
      align-items: center;
      justify-content: space-between;
      display: fixed;
      width: 100%;

      .nav-dropdown {
        position: relative;
        display: inline-block;
        width: 32%;
        align-content: center;

        #hamburgerMenu {
          width: 3rem;
          height: 3rem;
          cursor: pointer;
        }

        #navDropDown {
          display: none;
          position: absolute;
          z-index: 1;
          background: rgb(192, 192, 192);
          border: 1px solid black;
          padding: 0.5rem;

          a {
            color: rgb(68, 155, 68);
            text-decoration: none;
            display: block;
            // background: grey;
            padding: 1%;
            margin: 3%;
            &:hover {
              color: yellow;
            }
          }
        }
      }
      .nav-center {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32%;

        #nav-logo {
          width: 2.5rem;
        }
        h1 {
          width: 80%;
        }
      }
      .search {
        width: 32%;

        i {
        }
        input {
          width: 65%;
        }
      }
    }
  }
  main {
    margin-top: 3%;
    h3 {
      margin-top: 5%;
      text-align: center;
    }
    p {
      text-align: center;
    }
    .sect {
      border: 2px dashed darkblue;
      margin-top: 3.765%;
    }
    .first-sect {
      h3 {
      }
      p {
      }
    }
    .second-sect {
      h3 {
      }
      p {
      }
    }
    .third-sect {
      h3 {
      }
      p {
      }
    }
    .fourth-sect {
      h3 {
      }
      p {
      }
    }
  }
  footer {
    text-align: center;
    color: grey;
    margin-top: 10%;
    span {
    }
  }
}
