@import url(/Users/Braden/Documents/Lambda_FSW/1. Web fundementals/4. Build/UI/scss/normalize.css);
.show {
  display: block !important;
}

.container {
  width: 95%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container header {
  text-align: center;
}

.container header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: fixed;
  width: 100%;
  z-index: 1;
  margin-top: 1%;
}

.container header nav .nav-dropdown {
  position: relative;
  display: inline-block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 32%;
  -ms-flex-line-pack: left;
      align-content: left;
}

.container header nav .nav-dropdown #hamburgerMenu {
  width: 3rem;
  cursor: pointer;
}

@media (min-width: 1000px) {
  .container header nav .nav-dropdown #hamburgerMenu {
    display: none;
  }
}

.container header nav .nav-dropdown #navDropDown {
  display: none;
  position: absolute;
  background: silver;
  border: 1px solid black;
  padding: 0.5rem;
  left: 29.5%;
}

@media (min-width: 1000px) {
  .container header nav .nav-dropdown #navDropDown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: none;
    border: none;
    position: relative;
    left: auto;
    width: 100%;
  }
}

.container header nav .nav-dropdown #navDropDown a {
  color: #449b44;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 1%;
  margin: 3% 5%;
}

.container header nav .nav-dropdown #navDropDown a:hover {
  color: yellow;
}

@media (min-width: 1000px) {
  .container header nav .nav-dropdown #navDropDown a {
    font-size: 1.35rem;
    margin: auto;
  }
}

.container header nav .nav-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32%;
}

.container header nav .nav-center #nav-logo {
  width: 3rem;
  margin-right: 3%;
  -webkit-transform: rotateZ(12deg);
          transform: rotateZ(12deg);
}

.container header nav .nav-center h1 {
  font-family: "Permanent Marker", cursive;
}

@media (min-width: 1000px) {
  .container header nav .nav-center h1 {
    font-size: 2.1rem;
  }
}

.container header nav .login {
  width: 32%;
  margin-top: 2%;
}

.container header nav .login form .usrname input {
  width: 75%;
  margin-bottom: 2.35%;
}

@media (min-width: 1000px) {
  .container header nav .login form .usrname input {
    width: 60%;
  }
}

.container header nav .login form input {
  width: 75%;
}

@media (min-width: 1000px) {
  .container header nav .login form input {
    width: 60%;
  }
}

.container header nav .login form .loginbtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0.5rem;
}

.container header nav .login form .loginbtn #login {
  margin-right: 1rem;
}

.container header nav .login form .loginbtn button {
  border: 1.15px solid black;
  background: #ffd17a;
}

@media (min-width: 1000px) {
  .container header nav .login form .loginbtn button {
    font-size: 1.2rem;
    width: 30%;
    border-radius: 7%;
  }
}

.container main {
  margin-top: 3%;
}

.container main h3 {
  margin-top: 5%;
  text-align: center;
}

.container main p {
  text-align: center;
}

.container main .sect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container main .first-sect {
  background-image: url(/img/pills-bud.jpg);
  background-repeat: none;
  background-size: 100%;
  border-radius: 2.5%;
  padding-bottom: 8%;
}

.container main .first-sect img {
  height: 100%;
  z-index: -1;
}

.container main .first-sect h3 {
  font-size: 2rem;
  color: #069c06;
  text-shadow: 1.5px 2.125px white;
}

@media (min-width: 1000px) {
  .container main .first-sect h3 {
    font-size: 3rem;
  }
}

.container main .first-sect form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container main .first-sect form .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container main .first-sect form .name label {
  font-size: 1.125rem;
  color: #449e44;
  font-weight: bold;
  text-shadow: white 1.5px 1.5px;
}

@media (min-width: 1000px) {
  .container main .first-sect form .name label {
    font-size: 2rem;
  }
}

.container main .first-sect form .name input::-webkit-input-placeholder {
  color: #d88c00;
  text-align: center;
}

.container main .first-sect form .name input:-ms-input-placeholder {
  color: #d88c00;
  text-align: center;
}

.container main .first-sect form .name input::-ms-input-placeholder {
  color: #d88c00;
  text-align: center;
}

.container main .first-sect form .name input::placeholder {
  color: #d88c00;
  text-align: center;
}

.container main .first-sect form .name .first-name {
  text-align: center;
}

.container main .first-sect form .name .first-name input {
  border: 1px solid black;
}

@media (min-width: 1000px) {
  .container main .first-sect form .name .first-name input {
    font-size: 1rem;
  }
}

.container main .first-sect form .name .last-name {
  text-align: center;
  margin-left: 1%;
}

.container main .first-sect form .name .last-name label {
  font-size: 1.125rem;
  color: #428542;
}

@media (min-width: 1000px) {
  .container main .first-sect form .name .last-name label {
    font-size: 2rem;
  }
}

.container main .first-sect form .name .last-name input {
  border: 1px solid black;
}

@media (min-width: 1000px) {
  .container main .first-sect form .name .last-name input {
    font-size: 1rem;
  }
}

.container main .first-sect form .email {
  margin-top: 2.5%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container main .first-sect form .email label {
  font-size: 1.125rem;
  font-weight: bold;
  color: #449e44;
  text-shadow: white 1.5px 1.5px;
}

@media (min-width: 1000px) {
  .container main .first-sect form .email label {
    font-size: 2rem;
  }
}

.container main .first-sect form .email input {
  border: 1px solid black;
}

@media (min-width: 1000px) {
  .container main .first-sect form .email input {
    font-size: 1rem;
    width: 100%;
  }
}

.container main .first-sect form .email input::-webkit-input-placeholder {
  color: #d88c00;
}

.container main .first-sect form .email input:-ms-input-placeholder {
  color: #d88c00;
}

.container main .first-sect form .email input::-ms-input-placeholder {
  color: #d88c00;
}

.container main .first-sect form .email input::placeholder {
  color: #d88c00;
}

.container main .first-sect form button {
  margin-top: 5%;
  font-size: 1.5rem;
  color: #07aa07;
  border-radius: 15%;
}

.container main .about-app h2 {
  text-align: center;
  font-size: 1.65rem;
}

@media (min-width: 1000px) {
  .container main .desktop-feat-goal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 5.2%;
  }
}

.container main .second-sect {
  margin-top: 3.765%;
  margin-bottom: 3%;
  border: 2.135px groove red;
  border-radius: 1% 15% 1% 15%;
}

@media (min-width: 1000px) {
  .container main .second-sect {
    width: 45%;
    margin: auto;
  }
}

.container main .second-sect .features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container main .second-sect .features #featureTitle {
  list-style-type: none;
}

.container main .second-sect .features .ft1 ul li {
  color: green;
  padding: 5% 0px;
}

@media (min-width: 1000px) {
  .container main .second-sect .features .ft1 ul li {
    color: black;
  }
}

.container main .third-sect {
  background: #7575c3;
  margin-top: 3.765%;
  margin: auto;
  border-radius: 20% 1% 20% 1%;
}

@media (min-width: 1000px) {
  .container main .third-sect {
    width: 45%;
    margin: auto;
  }
}

.container main .third-sect h2 {
  text-align: center;
  margin-bottom: 0px;
}

.container main .third-sect p {
  padding: 1% 1.5%;
}

.container footer {
  text-align: center;
  color: grey;
  margin-top: 10%;
}

.container footer #easterEgg {
  color: #e6e4e4;
  position: absolute;
  left: 4%;
}
/*# sourceMappingURL=style.css.map */